{% extends "blog/base.html" %}
{% block title %}Sobre | Blog de Animes{% endblock %}
{% block content %}
<!-- .sobre-container terá a imagem de fundo cobrindo toda a área -->
<div class="sobre-container">
  <div class="sobre-texto">
    <h2>Sobre o Blog</h2>
    <p>
      Este blog nasceu da nossa paixão infinita pelo universo dos animes. Desde aventuras épicas até dramas emocionantes, 
      cada história deixou uma marca especial em nossos corações. Aqui celebramos o esforço criativo que transforma ideias 
      em animações cativantes, personagens inesquecíveis e tramas profundas. Adoramos compartilhar recomendações, curiosidades 
      e reflexões sobre as obras que nos inspiram e conectam fãs no mundo todo. Acreditamos que animes nos unem, 
      independentemente de fronteiras culturais, proporcionando uma experiência única de aprendizado e emoção. 
      E lembre-se: anime é feito de fã para fã, não compre ou venda.
    </p>
  </div>
</div>
{% endblock %}
